<div class = "checkout">
 <h1>pay amount </h1>
 <div class="form-check">
    <input class="form-check-input" type="radio" name="paymentoption" id="paymentoption1">
    <label class="form-check-label" for="paymentoption1">
      Google Pay
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="paymentoption" id="paymentoption1">
    <label class="form-check-label" for="paymentoption1">
      phone Pay
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="paymentoption" id="paymentoption1">
    <label class="form-check-label" for="paymentoption1">
      net banking
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="paymentoption" id="paymentoption1">
    <label class="form-check-label" for="paymentoption1">
      cash on delivery
    </label>
  </div>

  <div class="submit">
    <%= link_to "Submit", my_orders_path %>
  </div>

</div>
