<h1> Order details </h1>
 <div class = "container">
 <table>
   <tr>
     <th>picture </th>
     <th>name </th> 
     <th>description</th>
     <th>price</th>
   </tr>
   <% @orders.each do |order| %> 
     <% order.order_items.each do |item| %>
       <tr>
        <td><%= image_tag item.product.picture, size: "120x120" %></td> 
        <td><%= item.product.name%></td>        
        <td><%=item.product.description%></td>
        <td><%=item.product.price%></td>
       </tr>
      <%end%>
   <%end%>
  </table>
</div>